/* #1E1E1E; */
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: black;
    font-weight: 400;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.wrapper{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

nav {
    display:flex;
    font-size: 1.75rem;
    justify-content: space-evenly;
    align-items: center;
    padding: 3%;
    height: 15vh;

}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color:#dfd2ff;
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(53, 0, 211, 0.52),
    0 0 21px rgba(53, 0, 211, 0.92),
    0 0 34px rgba(53, 0, 211, 0.78),
    0 0 54px rgba(53, 0, 211, 0.92);
    font-weight: 700;
}
.logo-white {
    width: 25%;
    opacity: 80%;
}
header {
    height: 30vh;
    padding: 8%;
}

footer {
    height: 20vh;
}

section {
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner {
    height: 60vh;
    padding: 8%;
}

.heading {
    color:#dfd2ff;
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(53, 0, 211, 0.52),
    0 0 21px rgba(53, 0, 211, 0.92),
    0 0 34px rgba(53, 0, 211, 0.78),
    0 0 54px rgba(53, 0, 211, 0.92);
    text-align: center;
    text-transform: uppercase;
    font-size: large;
    letter-spacing: 5px;
    padding: 5%;
}

.submit-button {
    background-color: transparent;
    text-transform: uppercase;
    border: #783EFF 2px solid;
    color:#783EFF;
    font-size: 2rem;
    padding: 2rem;
    border-radius: 10px;
    margin: 10px;
}

.submit-button:hover {
    background-color: #783EFF;
    box-shadow:
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(53, 0, 211, 0.52),
    0 0 21px rgba(53, 0, 211, 0.92),
    0 0 34px rgba(53, 0, 211, 0.78),
    0 0 54px rgba(53, 0, 211, 0.92);
    color: white;
    text-shadow: 0 0 10px white;
}

.error-msg {
    color: #FDA58A;
    font-size: 2rem;
}
.video-banner {
    position: absolute;
    height: inherit;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    opacity: .20;
    overflow: hidden;
}
.video-content {
    width: 100%;
    object-fit: cover;
}

.heading-secondary {
    color: #9896C9;
    font-size: 2rem;
}

.container {
    text-align: center;
    background-color: #121212;
    width: 90%;
    margin: 2%;
    padding: 1% 0;
    border-radius: 10px;

}

.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px 20px;

}

.card {
    /* border: solid 2px #3500D3; */
    border-radius: 10px;
    background-color: #1E1E1E;
    padding: 1%;
    display: flex;
    flex-direction: column;
}

.card-img {
    width: 30rem;
    border-radius: 20%;
    padding: 2rem;
    opacity: 80%;
}

.card-heading {
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
}

.card-rating {
    font-size: 1.5rem;
    background-color:#3500D3;
    color: white;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;

}

.post-input {
    margin:auto;
    width: 100vh;
    padding:30px;

}

.post-input input {
    background-color: #121212;
    color:white;
    width: 894px;
    height: 48px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

input:focus {
    outline: none !important;
    border-color: #783EFF;
    box-shadow: 0 0 10px #783EFF;
}

