:root {
    --bright-blue: #3500D3;
    --primary-mauve: #9896C9;
    --light-mauve: #dfd2ff;
    --bright-mauve: #783EFF;
    --almost-black: #121212;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: black;
    font-weight: 400;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapper {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

#hidden-logo {
    visibility: hidden;
}

.mobile-nav {
    display: flex;
    font-size: 1.7rem;
    margin: 0 1%;
    align-items: stretch;
    height: 10vh;
}

.logo-box {
    flex: 1;
}

.menu-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    flex-grow: 4;
}

.searchbar-box {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

#nav-link {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: black;
    padding: 2%;
}

#nav-link ul li {
    list-style: none;
    padding: 1%;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
}

nav a:hover {
    color: var(--light-mauve);
    text-shadow:
        0 0 6px rgba(202, 228, 225, 0.92),
        0 0 30px rgba(202, 228, 225, 0.34),
        0 0 12px rgba(53, 0, 211, 0.52),
        0 0 21px rgba(53, 0, 211, 0.92),
        0 0 34px rgba(53, 0, 211, 0.78),
        0 0 54px rgba(53, 0, 211, 0.92);
    font-weight: 700;
}

nav button {
    font-size: 30px;
    background-color: transparent;
    color: white;
    border: transparent;
    cursor: pointer;
    transition: .5s;
    margin-top: 1%;
}

nav button:hover {
    color: var(--bright-mauve);
}

.nav-colored {
    background-color: black;
    height: fit-content;

}

.searchbar {
    font-size: 1.7rem;
    background-color: #1e1e1e;
    color: white;
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: .5%;
    padding-bottom: 1%;
    text-align: center;
    margin-bottom: 2%;
    padding-left: 2%;
}

.logo-white {
    width: 150px;
    opacity: 90%;

}

header {
    height: 35vh;
    padding: 8%;
}

footer {
    height: 25vh;
    padding: 2px;
    color: var(--primary-mauve);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer a {
    color: white;
    text-decoration: none;
    padding: 2px;
    transition: .5s;
}

footer a:hover {
    color: var(--bright-mauve);
}

.socials {
    font-size: 32px;
}

.footer-links {
    font-size: 16px;

}

section {
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner {
    height: 65vh;
    padding: 8%;
}

.banner .heading {
    padding-top: 5%;
}

.heading {
    color: var(--light-mauve);
    text-shadow:
        0 0 6px rgba(202, 228, 225, 0.92),
        0 0 30px rgba(202, 228, 225, 0.34),
        0 0 12px rgba(53, 0, 211, 0.52),
        0 0 21px rgba(53, 0, 211, 0.92),
        0 0 34px rgba(53, 0, 211, 0.78),
        0 0 54px rgba(53, 0, 211, 0.92);
    text-align: center;
    text-transform: uppercase;
    font-size: large;
    letter-spacing: 5px;
    padding-top: 5%;
}

.submit-button {
    background-color: transparent;
    text-transform: uppercase;
    border: var(--bright-mauve) 2px solid;
    color: var(--bright-mauve);
    font-size: 2rem;
    padding: 2rem;
    border-radius: 10px;
    margin: 2%;
    cursor: pointer;
    transition: .5s;
}

.submit-button:hover {
    background-color: var(--bright-mauve);
    box-shadow:
        0 0 30px rgba(202, 228, 225, 0.34),
        0 0 12px rgba(53, 0, 211, 0.52),
        0 0 21px rgba(53, 0, 211, 0.92),
        0 0 34px rgba(53, 0, 211, 0.78),
        0 0 54px rgba(53, 0, 211, 0.92);
    color: white;
    text-shadow: 0 0 10px white;
}

.general-button {
    border: none;
    text-decoration: none;
    font-size: 2rem;
    display: inline-block;
    cursor: pointer;
    color: var(--bright-mauve);
    background-color: transparent;
    transition: 0.5s;
}

.general-button:hover {
    color: white;
}

.manage-posts-container {
    display: flex;
    justify-content: center;
}

table {
    font-size: 1.75rem;
    padding: 1%;
}

tr th {
    background-color: var(--primary-mauve);
}

tr td,
tr th {
    padding: 5px;
}

.online-span {
    background-color: #80CBC4;
    padding: 5%;
    border-radius: 10px;
    color: black;
    margin: 2px;
}

.offline-span {
    background-color: #CF6679;
    padding: 5%;
    border-radius: 10px;
    color: black;
}

.delete-button {
    padding: 5px;
    color: #EF9A9A;
    border: 2px solid#EF9A9A;
    border-radius: 10px;
    font-size: inherit;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
}

.delete-button:hover {
    color: #E57373;
    border: 2px solid#E57373;
}

.small-link {
    color: var(--primary-mauve);
    text-decoration: none;
    font-size: 1.5rem;
}

.small-link:hover {
    color: white;
}

.white-link {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    transition: 1s;
}

.white-link:hover {
    background-color: white;
    border-radius: 10px;
    color: var(--bright-blue);
}

.error-msg {
    color: #EF9A9A;
    font-size: 2rem;
}

.video-banner {
    position: absolute;
    height: inherit;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    opacity: .20;
    overflow: hidden;
}

.video-content {
    width: 100%;
    object-fit: cover;
}

.heading-secondary {
    color: var(--primary-mauve);
    font-size: 2rem;
    padding: 1% 2%;
}

.container {
    text-align: center;
    background-color: var(--almost-black);
    width: 90%;
    margin: 2%;
    padding: 1% 0;
    border-radius: 10px;
}

.container p {
    font-size: 1.75rem;
    padding: 5%;
}

.text-container {
    margin: 0 auto;
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    text-align: justify;
}

.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px 20px;

}

.card {
    border-radius: 10px;
    background-color: #1E1E1E;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1%;
}

.card-img {
    width: 30rem;
    height: 100%;
    padding: 2rem;
    opacity: .7;
    transition: 1s;
}

.card-img:hover {
    opacity: 1;
}

.card-heading {
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
}

.card-rating {
    font-size: 1.5rem;
    background-color: var(--bright-blue);
    color: white;
    border-radius: 10px;
    padding: 2%;
    text-align: center;
    font-weight: bold;
}

.filters {
    border-radius: 10px;
    margin: 1% 5% 2% 5%;
    background-color: var(--bright-mauve);
    padding: 5px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.filters a {
    padding: 8px;
}

.general-form {
    height: 100%;
    display: flex;
    padding: 30px 50px;
    flex-direction: column;
}

.general-form label {
    display: block;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: .5%;
    color: rgba(255, 255, 255, 0.61);
}

.general-form input,
.general-form select,
.general-form textarea,
.score-form textarea {
    background-color: #1e1e1e;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    width: 40%;
    display: inline;
    padding: .5%;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}


input:focus,
select:focus,
textarea:focus {
    outline: none !important;
    border-color: var(--bright-mauve);
    box-shadow: 0 0 10px var(--bright-mauve);
}

input[type=checkbox] {
    border-color: var(--bright-mauve);
    width: 10px;
}

input[type=file]::file-selector-button {
    border: 2px solid var(--bright-mauve);
    padding: 1rem;
    border-radius: 10px;
    background-color: transparent;
    color: var(--bright-mauve);
    transition: 1s;
    cursor: pointer;
}

input[type=file]::file-selector-button:hover {
    background-color: var(--bright-mauve);
    box-shadow:
        0 0 30px rgba(202, 228, 225, 0.34),
        0 0 12px rgba(53, 0, 211, 0.52),
        0 0 21px rgba(53, 0, 211, 0.92),
        0 0 34px rgba(53, 0, 211, 0.78),
        0 0 54px rgba(53, 0, 211, 0.92);
    color: white;
    text-shadow: 0 0 10px white;
}

.img-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-form img {
    margin: 1%;
}

.post-info-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    font-size: 1.4rem;
}

.post-info-left {
    flex: 1;
    padding: 2%
}

.post-info-details {
    flex: 1;
    padding: 2%;
    text-align: justify;
    min-width: 50%;
}

.plot-box {
    text-align: justify;
    padding-top: 3%;
}

.plot-box h4 {
    padding-bottom: 0;
    text-align: center;
}


.post-info-score {

    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-content: center;
    align-items: center;

}

.score-span {
    background-color: var(--bright-mauve);
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    padding-top: 20px;
    box-shadow: 0 0 30px rgba(202, 228, 225, 0.34),
        0 0 12px rgba(53, 0, 211, 0.52),
        0 0 21px rgba(53, 0, 211, 0.92),
        0 0 34px rgba(53, 0, 211, 0.78),
        0 0 54px rgba(53, 0, 211, 0.92);
}

.score-span h4 {
    text-shadow: 0px 0px 10px#ffffff;
}


.post-info-img {
    width: 250px;

}

.score-form {
    color: white;
    flex-grow: 1;
    flex: 1;


}

.score-form label {
    display: block;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.61);
}


input[type="range"] {
    -webkit-appearance: none;
    width: 160px;
    height: 20px;
    margin: 10px 50px;
    background: linear-gradient(to right, #f1f2f3 0%, #55209a 100%);
    background-size: 150px 10px;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    outline: none;
}

input[type="range"]:first-of-type {
    margin-top: 30px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 10px;
    position: relative;
    z-index: 3;
    box-shadow: 0 0 30px rgba(202, 228, 225, 0.34),
        0 0 12px rgba(53, 0, 211, 0.52),
        0 0 21px rgba(53, 0, 211, 0.92),
        0 0 34px rgba(53, 0, 211, 0.78),
        0 0 54px rgba(53, 0, 211, 0.92);
}

.img-container {
    position: relative;
    text-align: center;
    color: white;
    opacity: 0.6;
    transition: 0.5s;
}

.img-link {
    height: 300px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.centered {
    font-size: 3rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-container:hover {
    opacity: 1;

}

.users-ratings {
    border: 1px solid var(--bright-mauve);
    border-radius: 10px;
    width: 50%;
    margin: 1%;
    padding: 2%;
    color: white;
    font-size: 1.4rem;
    color: white;
    text-align: justify;

}

.ratings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50%;
}

.rating-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--light-mauve);
}

.users-ratings p {
    font-size: 1.4rem;
    text-align: justify;
}

.scores-container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    color: white;


}

.modal {
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--bright-mauve);
    background-color: #783eff4b;
}

.modal-content {
    background-color: black;
    margin: 15% auto;
    padding: 1%;
    border: 2px solid var(--bright-mauve);
    border-radius: 10px;
    width: 40%;
    text-align: center;
    color: var(--bright-mauve);
    font-size: 20px;
}

.modal-content p {
    padding-bottom: 3%;
}

.close {
    color: var(--bright-mauve);
    font-size: 28px;
    font-weight: bold;
    transition: 1s;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}


@media only screen and (max-width: 600px) {

    header {
        height: 30vh;
    }

    .heading {
        padding-top: 8%;
    }

    .banner {
        height: 35vh;
    }

    #logo {
        display: none;
    }

    .mobile-nav {
        height: 7vh;
    }

    #hidden-logo {
        visibility: visible;
    }

    .logo-white {
        width: 100px;
    }

    .post-info-card {
        font-size: 1rem;
    }

    .container p {
        font-size: 1.4rem;
    }

    .white-link {
        font-size: 1.5rem;
    }

    .general-form input,
    .general-form select,
    .general-form textarea,
    .score-form textarea {
        width: 100%
    }

    .searchbar-box input {
        width: 200px;
    }
    .footer-links {
        font-size: 20px;
    }
}

@media only screen and (min-width: 600px) {

    .banner {
        height: 40vh;
    }

    #logo {
        visibility: hidden;
    }

    .mobile-nav {
        height: 7vh;
    }

    #hidden-logo {
        visibility: visible;
    }

    .searchbar-box input {
        width: 200px;
    }
}

@media only screen and (min-width: 768px) {

    .banner {
        height: 50vh;
    }

    #logo {
        visibility: visible;
    }

    .mobile-nav {
        height: 7vh;
    }

    #hidden-logo {
        display: none;
    }

    .searchbar-box input {
        width: 100%;
    }
}

@media only screen and (min-width: 992px) {
    .banner {
        height: 65vh;
    }

    .mobile-nav {
        height: 8vh;
    }
}
